:root {
  --font-primary: "Raleway", serif;
  --font-secondary: "Oswald", serif;
  /* кольори */
  --color-text-primary: #000000;
  --color-text-contrast: #ffffff;
  --color-button: #b2ffa6;
  --color-bg-primary: #121212;
  --color-bg-section: #efefef;
}
body {
  font-family: var(--font-primary);
  color: var(--color-text-primary);
  font-size: 24px;
  line-height: 1.17;
  font-weight: 400;
}
.container {
  max-width: 1650px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.header {
  background-color: var(--color-bg-primary);
  padding-bottom: 30px;
  padding-top: 30px;
}
.nav-list {
  display: flex;
  gap: 100px;
  align-items: center;
}
.nav-link {
  color: var(--color-bg-section);
  font-family: var(--font-secondary);
  text-decoration: none;
}
.nav-link:hover {
  cursor: pointer;
  color: var(--color-button);
}
/* section hero */
.hero-container {
  display: flex;
  gap: 342px;
}
.hero-title {
  font-size: 64px;
  text-transform: capitalize;
  font-weight: 400;
  margin-bottom: 50px;
}
.hero-title-part {
  font-weight: 700;
  font-size: 64px;
}
.hero-content {
  padding-top: 150px;
  padding-bottom: 365px;
}
.hero-button {
  line-height: 1.5;
  letter-spacing: 0.06cm;
  background-color: var(--color-button);
  font-family: var(--font-secondary);
  padding: 15px 80px;
  border-radius: 5px;
}
/* section about */
.about {
  background-color: var(--color-bg-section);
}
.about-content {
  padding-top: 100px;
  padding-bottom: 100px;
}
.about-title {
  font-weight: 700;
  text-transform: capitalize;
}
.about-text {
  font-size: 32px;
  line-height: 1.19;
}
.about-link {
  color: var(--color-text-primary);
  line-height: 1.5;
  background-color: var(--color-button);
  font-family: var(--font-secondary);
  text-decoration: none;
}
/* section benefits */
.benefits {
  padding-bottom: 60px;
  padding-top: 60px;
}
.benefits-title {
  font-weight: 700;
  font-size: 32px;
  text-transform: capitalize;
}
.services {
  background-color: var(--color-bg-section);
  padding-top: 60px;
  padding-bottom: 60px;
}
.services-title {
  font-size: 40px;
  font-weight: 700;
  text-transform: capitalize;
  text-align: center;
}
.services-text {
  font-size: 32px;
  text-align: center;
}
.services-name {
  font-weight: 600;
}
.services-button {
  font-family: var(--font-secondary);
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.06cm;
  line-height: 1.5;
  border: 3px;
  padding: 15px 80px;
  cursor: pointer;
}
.footer {
  background-color: var(--color-bg-primary);
  padding-top: 35px;
  padding-bottom: 35px;
}
.footer-logo {
  font-weight: 300;
  color: var(--color-text-contrast);
  font-size: 40px;
  text-decoration: none;
}
.footer-logo-part {
  font-weight: 700;
}
.footer-policy {
  color: var(--color-text-contrast);
  font-size: 24px;
}
