:root {
  --font-primary: "Raleway", serif;
  --font-secondary: "Oswald", serif;
  /* кольори */
  --color-text-primary: #000000;
  --color-text-contrast: #ffffff;
  --color-button: #b2ffa6;
  --color-bg-primary: #121212;
  --color-bg-section: #efefef;
}
body {
  font-family: var(--font-primary);
  color: var(--color-text-primary);
  font-size: 24px;
  line-height: 1.17;
  font-weight: 400;
}
.header {
  background-color: var(--color-bg-primary);
}
.nav-link {
  color: var(--color-bg-section);
  font-family: var(--font-secondary);
  text-decoration: none;
}
.nav-link:hover {
  cursor: pointer;
  color: var(--color-button);
}
/* section hero */
.hero-title {
  font-size: 64px;
  text-transform: capitalize;
}
.hero-title-part {
  font-weight: 700;
  font-size: 64px;
}
.hero-button {
  line-height: 1.5;
  letter-spacing: 0.06cm;
  background-color: var(--color-button);
  font-family: var(--font-secondary);
}
/* section about */
.about {
  background-color: var(--color-bg-section);
}
.about-title {
  font-weight: 700;
  text-transform: capitalize;
}
.about-text {
  font-size: 32px;
  line-height: 1.19;
}
.about-link {
}
/* section advantages */
